body {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: column;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #1f2937;
    color: white;
}

.nav {
    display:flex;
    justify-content: space-between;
    margin: 16px;
}

.nav ul {
    gap: 16px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 32px;
}
.header-content-left {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.listen {
    width: 100px;
    padding: 5px;
    background: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
}
.header-content-right {
    display: flex;
    align-self: baseline;
    max-width: auto;
}
.header-profile {
    height: 200px;
    width: 400px;
    align-self: flex-end;
}


ul {
    display: flex;
    list-style-type: none;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 8px 0;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.att {
    display: flex;
    align-self: flex-end;
}
.content-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-row {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding: 8px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border: 3px solid #3882f6;
}

.caption {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    max-width: 100px;
}

.quote {
    height: 200px;
    width: 100%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}